---
layout: layout.njk
title: Articles
---

<h2>All Articles</h2>

<ul>
  {% for post in collections.post | reverse %}
    <li style="margin-bottom: 1rem;">
      <a href="{{ post.url }}"><strong>{{ post.data.title }}</strong></a><br/>
      {% if post.data.tags %}
        {% for tag in post.data.tags %}
          <a class="tag" href="/tags/{{ tag | slug }}/">{{ tag }}</a>
        {% endfor %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
